api.lexoterm.de {
    handle /* {
        reverse_proxy adl-api:80
    }
}

ba00000-lex.srv.mwn.de, azlex.de, lexoterm.de {
    handle /static/* {
        uri strip_prefix /static
        root * /wb/static
        file_server browse
    }
    handle /api2/* {
        uri strip_prefix /api2
        reverse_proxy pdl-api-postgres:80
    }
    handle /pgadmin {
        reverse_proxy wb_pgadmin:80
    }
    handle /pgadmin/* {
        reverse_proxy wb_pgadmin:80
    }
    handle /* {
        basic_auth {
            adladmin {$BASIC_AUTH_PASSWORD}
        }
        reverse_proxy adl-platform:3000
    }
}

wh.dev.lexoterm.de {
    reverse_proxy host.docker.internal:8080
}

fs.dev.lexoterm.de {
    reverse_proxy host.docker.internal:8081
}

sgpredict.tools.lexoterm.de {
    reverse_proxy host.docker.internal:8082
}

dictconsistency.tools.lexoterm.de {
    reverse_proxy host.docker.internal:8083
}

stopandgraph.tools.lexoterm.de {
    reverse_proxy host.docker.internal:8084
}

dictgraph.tools.lexoterm.de {
    reverse_proxy host.docker.internal:8085
}

lexfcs.lexoterm.de {
    reverse_proxy pdl-lexfcs:8080
}

cms.lexoterm.de {
    reverse_proxy pdl-cms:3000
}

smor.lexoterm.de {
    reverse_proxy pdl-smor-api:8000
}

wbfdemo.lexoterm.de {
    reverse_proxy wbf-nlp-demo:3000
}
