api.lexoterm.de {
    handle /* {
        reverse_proxy adl-api:80
    }
}

ba00000-lex.srv.mwn.de, azlex.de, lexoterm.de {
    handle /static/* {
        uri strip_prefix /static
        root * /wb/static
        file_server browse
    }
    handle /api2/* {
        uri strip_prefix /api2
        reverse_proxy pdl-api-postgres:80
    }
    handle /pgadmin {
        reverse_proxy wb_pgadmin:80
    }
    handle /pgadmin/* {
        reverse_proxy wb_pgadmin:80
    }
    handle /* {
        basic_auth {
            adladmin {$BASIC_AUTH_PASSWORD}
        }
        reverse_proxy adl-platform:3000
    }
}

wh.dev.lexoterm.de {
    reverse_proxy host.docker.internal:8080
}

fs.dev.lexoterm.de {
    reverse_proxy host.docker.internal:8081
}
